.details__open {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 500px;
  height: 500px;
  overflow: hidden;
  background-color: var(--card-bg-color);
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  font-size: 20px;
  position: relative;
  color: var(--text-color);
}
.close {
  cursor: pointer;
  position: absolute;
  left: 45%;
  top: 20px;
  border: none;
  background-color: var(--button-color);
  color: var(--text-color);
  width: 60px;
  height: 50px;
  border-radius: 5px;
}
