.pagination__wrapper {
  display: flex;
  gap: 2px;
  justify-content: center;
}

.pagination__item {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: gray;
  border-radius: 4px;
  cursor: pointer;
}

.pagination__item:hover {
  background-color: var(--hover-color);
}

.pagination__item_active {
  background-color: var(--hover-color);
}
