.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid black;
}
.block label {
  display: flex;
  flex-direction: column;
}

.radio-block {
  display: flex;
  gap: 5px;
  padding: 5px 0 0 0;
}

.error-message {
  color: #ef5350;
  display: block;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
}
