.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  height: 100px;
}
.main {
  display: flex;
  gap: 15px;
  max-width: 1300px;
  overflow: hidden;
}
.table_short {
  flex: 0 0 70%;
  width: 700px;
  overflow: auto;
}
.table_full {
  flex: 1 1 auto;
}
.details {
  flex: 0 0 250px;
  width: 250px;
}
