header {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10px;
}

button {
  background-color: var(--button-color);
  color: var(--text-color);
  border: 1px solid var(--hover-color);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
