/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Details/style.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.style_details__open__qJbW1 {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 300px;
  height: 500px;
  overflow: hidden;
  background-color: var(--card-bg-color);
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  font-size: 20px;
  position: relative;
  color: var(--text-color);
}
.style_close__FhUCw {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 15px;
  top: 15px;
  border: none;
  background-color: var(--button-color);
  color: var(--text-color);
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/modules/Main/style.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.style_main__a02UT {
  display: flex;
  gap: 15px;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100vh;
}

.style_table_short__daTSL {
  flex: 0 0 70%;
  width: 700px;
  overflow: auto;
}
.style_table_full__dom1D {
  flex: 1 1 auto;
}
.style_details__93KT1 {
  flex: 0 0 250px;
  width: 250px;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/Cards/style.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Card/index.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.Card_card__xJjNh {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background-color: var(--card-bg-color);
  font-size: 20px;
  margin-bottom: 10px;
  width: 300px;
  padding: 10px 10px 10px 20px;
  border-radius: 10px;
  text-decoration: none;
}
.Card_card__xJjNh:hover {
  background-color: var(--hover-color);
  transition: all 0.3s ease;
}

.Card_name__ehsWO {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  flex: 1 1 auto;
}

.Card_mass__uibSK,
.Card_gender__r_Mwh {
  text-align: center;
}
.Card_checkboxBlock__YDSMH {
  width: 100%;
  display: flex;
  gap: 10px;
  position: relative;
}
.Card_checkbox__y0Bfa {
  flex: 0 0 25px;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  z-index: 100;
}

.Card_wrapper___8510 {
  position: relative;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Pagination/style.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.style_pagination__wrapper__bFgtq {
  display: flex;
  gap: 2px;
  justify-content: center;
}

.style_pagination__item__JBr0R {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: gray;
  border-radius: 4px;
  cursor: pointer;
}

.style_pagination__item__JBr0R:hover {
  background-color: var(--hover-color);
}

.style_pagination__item_active__63BWj {
  background-color: var(--hover-color);
}
