.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 1px solid yellow;    
    font-family: sans-serif;
    padding: 10px;

}
.flag{
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    flex: 1 1 auto;
}
.name{
    font-size: 30px;
    text-align: center;
}
.population{
    font-size: 18px;
}




